body {
  font-family: 'DM Sans', sans-serif;
  overflow-x: hidden;
  background-color: #EAEAE4;

  margin: 0;
  padding: 0;
}

#webgi-canvas {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

h2 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
}

.header {
  position: absolute;
  left: 128px;
  right: 128px;
  padding: 32px 0;
}

.navContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbarButton {
  background: black;
  color: white;

  border-radius: 12px;
  padding: 12px 32px;

  outline: none;
  border: 0;

  font-weight: 700;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: #444444;
    transition: background-color 300ms;
  }
}

.hero {
  display: flex;

  width: 100vw;
  height: 100vh;
  align-items: center;
}

.heroContent {
  max-width: 560px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 0 128px;
}

.heroContent > h1 {
  font-size: 8rem;
  font-weight: 700;
  line-height: 90%;
  margin: 0;
}

.buttonSecondary {
  max-width: 320px;

  background: #E1A913;
  color: black;

  border-radius: 12px;
  padding: 12px 32px;

  outline: none;
  border: 0;

  font-weight: 700;
  font-size: 1rem;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
    transition: background-color 300ms;
  }
}

.second {
  display: flex;
  position: relative;

  width: 100vw;
  height: 100vh;
  align-items: center;

  justify-content: flex-end;
}

.secondContent {
  max-width: 480px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 0 128px;
}

.customBg {
  background-color: #E1A913;
  position: absolute;
  width: 100vw;
  height: 100%;

  top: 0;
  left: 0;

  transform: rotate(90);
  z-index: -1;
}

.third {
  display: flex;

  width: 100vw;
  height: 100vh;
  align-items: center;
}

.thirdContent {
  max-width: 480px;
  overflow-wrap: break-word;
  word-wrap: break-word;

  display: flex;
  flex-direction: column;
  gap: 16px 0;
  margin: 0 128px;
}